<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'Landing', landing_path, class: 'navbar-brand' %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'My account', current_user %>
              </li>
              <li>
                <%= link_to 'My requests', requests_path %>
              </li>
              <li>
                <%= link_to 'Users', users_path %>
              </li>
              <li>
                <%= link_to notifications_path do %>
                  Notifications <% if current_user.notifications.unread.count > 0 %><span class="notification"><%= current_user.notifications.unread.count %></span><% end %>
                <% end %>
              </li>
              <li>
                <%= link_to 'Wiki', wiki_categories_path %>
              </li>
              <% if policy([:admin, :user]).index? %>
                <li>
                    <%= link_to 'Users', admin_users_path, class: 'admin' %>
                </li>
              <% end %>
              <% if policy([:admin, :vacation]).index? %>
                <li>
                  <%= link_to 'Vacations', admin_vacations_path, class: 'admin' %>
                </li>
              <% end %>
              <% if policy([:admin, :vacation]).requests? %>
                <li>
                  <%= link_to requests_admin_users_path, class: 'admin' do %>
                    Requests <% if Vacation.unapproved.count > 0 %><span class="notification"><%= Vacation.unapproved.count %></span><% end %>
                  <% end %>
                </li>
              <% end %>
              <% if policy([:admin, :invitation]).index? %>
                <li>
                  <%= link_to 'Invitations', admin_invitations_path, class: 'admin' %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% unless controller_name == 'sessions' %>
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li><%= link_to 'Edit my account', edit_user_registration_path %></li>
                <li>
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                </li>
                <% else %>
                <li>
                  <%= link_to 'Log in', new_user_session_path %>
                </li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
