<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
        <%= f.hidden_field :secure_key, value: params[:secure_key] %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.text_field :skype_username %>
        <%= f.text_field :phone_number %>
        <%= f.date_field :birth_date %>
        <%= f.file_field :avatar %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
