<div class="col-md-7">
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>New Vacation</h4>
  </div>
  <div class="panel-body">
      <%= bootstrap_form_for @vacation do |f| %>
        <%= f.select :vacation_type, Vacation.vacation_types.keys %>
        <%= f.date_field :start_time %>
        <%= f.date_field :end_time %>
        <%= f.text_field :offset %>
        <%= f.text_area :comment %>
        <%= f.submit :save, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
