<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>New Vacation</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-7">
      <%= bootstrap_form_for [:admin, @user, @vacation] do |f| %>
        <%= f.select :vacation_type, Vacation.vacation_types.keys %>
        <%= f.date_field :start_time %>
        <%= f.date_field :end_time %>
        <%= f.text_field :offset %>
        <%= f.text_area :comment %>
        <%= f.submit :save, class: 'btn btn-success' %>
      <% end %>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <h1>User info</h1>
      <div class="row">
        <div class="col-md-12">
          <b>
            First and last name:
          </b>
        </div>
        <div class="col-md-12">
          <%= @user.first_name %>
          <%= @user.last_name %>
        </div>
      </div>

      <div class="row vert-offset-top-1">
        <div class="col-md-12">
          <b>Vacation count:</b> <%= @user.vacation_count %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b>Day off count:</b> <%= @user.day_off_count %>
        </div>
      </div>

      <div class="vert-offset-top-1">
        <div class="row">
          <div class="col-md-12">
            <b>
              Email:
            </b>
          </div>
          <div class="col-md-12">
            <%= @user.email %>
          </div>
        </div>

        <% if @user.phone_number != '' %>
        <div class="row">
          <div class="col-md-12">
            <b>
              Phone number:
            </b>
          </div>
          <div class="col-md-12">
            <%= @user.phone_number %>
          </div>
        </div>
        <% end %>

        <% if @user.skype_username != '' %>
        <div class="row">
          <div class="col-md-12">
            <b>
              Skype username:
            </b>
          </div>
          <div class="col-md-12">
            <%= @user.skype_username %>
          </div>
        </div>
        <% end %>
      </div>


      <% if @user.birth_date %>
      <div class="row vert-offset-top-1">
        <div class="col-md-12">
          <b>
            Birth date:
          </b>
        </div>
        <div class="col-md-12">
          <%= @user.birth_date.strftime("%A, %b %d") %>
        </div>
      </div>
      <% end %>

      <div class="row vert-offset-top-1">
        <div class="col-md-12">
          <b>
            Start date:
          </b>
        </div>
        <div class="col-md-12">
          <%= @user.start_date.strftime("%A, %b %d") %>
        </div>
      </div>

      <% if @user.comment != '' %>
      <div class="row vert-offset-top-1">
        <div class="col-md-12">
          <b>
            Comment:
          </b>
        </div>
        <div class="col-md-12">
          <%= @user.comment %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
