<!DOCTYPE html>
<html>
  <head>
    <title>GoToPM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <% if alert %>
        <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Alert!</strong> <%= alert %>
        </div>
        <% end %>
        <% if notice %>
        <div class="alert alert-info alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Notice!</strong> <%= notice %>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
